.container {
  padding-top: 80px;
  .mainbox {
    width: 360px;
    height: 80%;
    border-top: 1px solid #000;
    padding: 0 10px;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  header {
    text-align: center;
    padding-top: 70px;
    height: 200px;
    .title {
      font-size: 18px;
      letter-spacing: 12px;
      text-indent: 12px;
      font-weight: bold;
    }
    .subtitle {
      margin-top: 13px;
    }
  }
  .formwrap {
    margin-top: 30px;
  }
  .inputbox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 30px;
    .title {
      font-size: 12px;
      font-weight: 500;
    }
    input {
      font-weight: 350;
      font-size: 15px;
      height: 45px;
      outline: none;
      vertical-align: middle;
      border: 0;
      border-bottom: 1px solid lightgray;
      margin-bottom: 5px;
      width: 100%;
    }
    .description {
      color: red;
      font-size: 14px;
      padding-top: 5px;
      display: contents;
    }
  }
  .loginBtn {
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 0;
    height: 55px;
  }
  .signupBtn {
    margin-top: 20px;
    width: 100%;
    background-color: white;
    color: black;
    border-radius: 0;
    height: 55px;
  }
}
