.component {
  height: 760px;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  width: 1330px;
  height: 540px;
}

.cardContainer {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
}

.cardContainer::-webkit-scrollbar {
  display: none;
}

.card {
  width: 1330px;
  height: 540px;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
}

.promtionInfo {
  width: 370px;
  height: 100%;
}

.promtionImg {
  width: 960px;
  height: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
}

.remainingPeriod {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  width: 100px;
  height: 80px;
  font-family: Abel;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 2px;
  color: #ffffff;
  background: #000000cf;
}

.promtionInfo {
  color: #181818;
  font-weight: 500;
}

.promotion {
  font-size: 12px;
  font-family: Abel;
  font-weight: 700;
  letter-spacing: 11px;
}

.promotionTitle {
  width: 250px;
  margin-top: 60px;
  font-weight: 400;
  font-size: 27px;
  line-height: 50px;
  word-break: keep-all;
  cursor: pointer;
}

.promptionSubTitle {
  margin-top: 30px;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  cursor: pointer;
}

.roomName {
  font-size: 22px;
  margin-top: 160px;
  color: #181818;
  font-weight: 400;
  cursor: pointer;
}

.roomInfo {
  color: #333333;
  font-size: 14px;
  font-weight: 300;
  line-height: 25.2px;
}

.locationInfo {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 300;
  color: #333333;
  cursor: pointer;
}

.province {
  display: inline-block;
  margin-right: 3px;
}

.city::before {
  content: '/';
  margin-right: 3px;
}

.city,
.roomtype {
  display: inline-block;
}

.roomtype::before {
  content: 'ㆍ';
  font-weight: 900;
}

.minNumOfpeople {
  display: inline-block;
  margin-right: 3px;
}

.maxNumOfpeople {
  display: inline-block;
}

.maxNumOfpeople::before {
  content: '/';
  margin-right: 3px;
}

.pagenation {
  display: flex;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 300px;
}

.currentPage {
  font-weight: 700;
  font-weight: 14px;
  margin-right: 3px;
}

.totalPage::before {
  content: '/';
  margin-right: 3px;
}

.totalPage {
  font-weight: 300;
  font-weight: 14px;
  margin-right: 30px;
}

.btn {
  cursor: pointer;
}
