button {
  position: relative;
  border-style: none;
  margin: 0.5;
  padding: 0;
  outline: 0;
  background-color: transparent;
  vertical-align: middle;
  appearance: none;
}

.heart {
  margin: 0 5px;
}

.heart:hover {
  cursor: pointer;
}
