.titleContainer {
  width: 1330px;
  height: 206px;
  padding: 70px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleEn {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 14px;
  font-family: Lato, 'Noto Sans KR';
  cursor: pointer;
}

.titleKo {
  margin-top: 20px;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 5px;
  cursor: pointer;
}
