.container {
  padding-top: 100px;
  position: relative;
  min-height: 800px;
  display: flex;
  justify-content: center;
}
.roomName {
  display: flex;
  width: 1800px;
  height: 136px;
  font-size: 15px;
  padding-top: 80px;
  align-items: center;
}
.address {
  padding: 50px 0 100px;
  text-align: center;
  font-size: 16px;
  line-height: 2.2;
}

@media (max-width: 1470px) {
  .container {
    min-width: 1000px;
  }
}
@media (max-width: 768px) {
  .address {
    text-align: left;
    font-size: 12px;
  }
}
