.container {
  background-image: url('https://images.unsplash.com/photo-1615743471589-1f7dc7b9ee59?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  text-align: center;
  padding: 120px 0;
  width: 100%;
  margin: 70px auto;
  font-size: 14px;
  line-height: 1;
}
.container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.specialWrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 0 20px;
}

.special {
  display: block;
  margin: 0 auto 20px;
  font-size: 21px;
  font-weight: 300;
  letter-spacing: 21px;
  padding: 0 0 0 21px;
  font-family: Abel;
  color: #fff;
}

.speailListWrap {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 75px 0 0;
  min-width: 1100px;
  font-size: 14px;
  padding: 0;
  gap: 30px;
}

.contentWrap {
  position: relative;
  float: left;
  background: rgba(0, 0, 0, 0.7);
  width: 343px;
  padding: 45px 33px;
  font-weight: 300;
  line-height: 1;
}
.icon {
  width: 50px;
  vertical-align: middle;
}

.title {
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  margin: 20px 0;
}

.content {
  font-size: 14px;
  line-height: 1.7;
  color: #b3b3b3;
  margin: 0;
}
